{extend name="common/app" /}

{block name="title"}导航列表{/block}

{block name="content"}
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="{:url('Index/index')}">系统</a>
            </li>
            <li class="active">导航管理</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">

        <button type="button" tooltip="添加导航" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '/admin/nav/create'"> <i class="fa fa-plus"></i> Add
        </button>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <form action="" method="post">
                                <table class="table table-bordered table-hover">
                                    <thead class="">
                                    <tr>
                                        <th class="text-center" width="8%">ID</th>
                                        <th class="text-center" width="8%">排序</th>
                                        <th class="text-center">导航名称</th>
                                        <th>导航地址</th>
                                        <th class="text-center" width="8%">位置</th>
                                        <th class="text-center" width="8%">导航状态</th>
                                        <th class="text-center" width="14%">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="navs" id="nav"}
                                    <tr>
                                        <td align="center">{$nav.id}</td>
                                        <td align="center">
                                            <input class="sortInput" attrid="{$nav.id}" type="text" style="width:60px; text-align:center;"  value="{$nav.sort}" />
                                        </td>
                                        <td align="center">{$nav.nav_name}</td>
                                        <td><a href="{$nav.nav_url}" target="_blank">{$nav.nav_url}</a></td>
                                        <td align="center">
                                            {if condition="$nav['pos'] eq 'top'"}
                                            顶部
                                            {elseif condition="$nav['pos'] eq 'mid'" /}
                                            中间
                                            {else /}
                                            底部
                                            {/if}
                                        </td>
                                        <td align="center">
                                            {if condition="$nav['open'] eq 1"}
                                            是
                                            {else /}
                                            否
                                            {/if}
                                        </td>
                                        <td align="center">
                                            <a href="/admin/nav/{$nav.id}/edit" class="btn btn-primary btn-sm shiny">
                                                <i class="fa fa-edit"></i> 编辑
                                            </a>
                                            <a href="#" onClick="disp_confirm('{$nav["id"]}')" class="btn btn-danger btn-sm shiny" >
                                            <i class="fa fa-trash-o"></i> 删除
                                            </a>
                                        </td>
                                    </tr>
                                    {/volist}
                                    <tr>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>

                        {volist name="navs" id="nav"}
                        <form style="display: none" id="deleteForm{$nav['id']}" action="/admin/nav/{$nav['id']}" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            </a>
                        </form>
                        {/volist}

                        <div style="padding-top:10px; text-align:right;">
                            {$navs|raw}
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>

{/block}

{block name="script"}
<script>
    $('.sortInput').blur(function () {
        var id=$(this).attr('attrid')
        var sort=$(this).val()
        var url='/admin/nav/'+id+'/sort'
        $.post(url,{sort:sort},function (res) {
            if(res.status==0){
                layer.alert(res.msg, {icon: 5});
            }else {
                layer.alert(res.msg, {icon: 6});
                window.location.reload();
            }
        },'json')
    })


</script>

{/block}
