{extend name="common/app" /}

{block name="title"}新增商品类型{/block}

{block name="content"}
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="{:url('Index/index')}">系统</a>
            </li>
            <li class="active">会员级别管理</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">

        <button ml="button" tooltip="添加会员级别" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '/admin/memberLevel/create'"> <i class="fa fa-plus"></i> Add
        </button>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <table class="table table-bordered table-hover">
                                <thead class="">
                                <tr>
                                    <th class="text-center" width="8%">ID</th>
                                    <th>会员级别名称</th>
                                    <th>级别积分下限</th>
                                    <th>级别积分上限</th>
                                    <th>级别折扣率</th>
                                    <th class="text-center" width="16%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="memberLevels" id="ml"}
                                <tr>
                                    <td align="center">{$ml.id}</td>
                                    <td>{$ml.level_name}</td>
                                    <td>{$ml.bom_point}</td>
                                    <td>{$ml.top_point}</td>
                                    <td>{$ml.rate}</td>
                                    <td align="center">
                                        <a href="/admin/memberLevel/{$ml.id}/edit" class="btn btn-primary btn-sm shiny">
                                            <i class="fa fa-edit"></i> 编辑
                                        </a>
                                        <a href="#" onClick="disp_confirm('{$ml["id"]}')" class="btn btn-danger btn-sm shiny" >
                                        <i class="fa fa-trash-o"></i> 删除
                                        </a>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                        {volist name="memberLevels" id="memberLevel"}
                        <form style="display: none" id="deleteForm{$memberLevel['id']}" action="/admin/memberLevel/{$memberLevel['id']}" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            </a>
                        </form>
                        {/volist}

                        <div style="padding-top:10px; text-align:right;">
                            {$memberLevels|raw}
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>

{/block}
