{extend name="common/app" /}

{block name="title"}品牌列表{/block}

{block name="content"}
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="{:url('Index/index')}">系统</a>
            </li>
            <li class="active">品牌管理</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">

        <button type="button" tooltip="添加品牌" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url('admin/brand/create')}'"> <i class="fa fa-plus"></i> Add
        </button>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <table class="table table-bordered table-hover">
                                <thead class="">
                                <tr>
                                    <th class="text-center" width="8%">ID</th>
                                    <th class="text-center">品牌名称</th>
                                    <th class="text-center">品牌地址</th>
                                    <th class="text-center">品牌logo</th>
                                    <th class="text-center">品牌描述</th>
                                    <th class="text-center" width="8%">品牌状态</th>
                                    <th class="text-center" width="14%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="brands" id="brand"}
                                <tr>
                                    <td align="center">{$brand.id}</td>
                                    <td align="center">{$brand.brand_name}</td>
                                    <td align="center"><a href="{$brand.brand_url}" target="_blank">{$brand.brand_url}</a></td>
                                    <td align="center">
                                        {if condition="$brand['brand_img'] neq ''"}
                                        <img src="{$brand.brand_img}" height="30">
                                        {else /}
                                        暂无图片
                                        {/if}
                                    </td>
                                    <td align="center">
                                        {:cut_str($brand['brand_description'],10)}
                                    </td>
                                    <td align="center">
                                        {if condition="$brand['status'] eq 1"}
                                        <img src="/static/admin/images/right.png" height="30">
                                        {else /}
                                        <img src="/static/admin/images/wrong.png" height="25">
                                        {/if}
                                    </td>
                                    <td align="center">
                                        <a href="/admin/brand/{$brand['id']}/edit" class="btn btn-primary btn-sm shiny">
                                            <i class="fa fa-edit"></i> 编辑
                                        </a>
                                        <form style="display: inline-block" id="deleteForm{$brand['id']}" action="/admin/brand/{$brand['id']}" method="post">
                                            <input type="hidden" name="_method" value="delete" />
                                            <a href="#" onClick="disp_confirm('{$brand["id"]}')" class="btn btn-danger btn-sm shiny" attrid="{$brand['id']}">
                                                <i class="fa fa-trash-o"></i> 删除
                                            </a>
                                        </form>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                        <div style="padding-top:10px; text-align:right;">
                            {$brands|raw}
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


{/block}
