{extend name="common/app" /}

{block name="title"}友情链接列表{/block}

{block name="content"}
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="{:url('Index/index')}">系统</a>
            </li>
            <li class="active">链接管理</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">

        <button type="button" tooltip="添加链接" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '/admin/link/create'"> <i class="fa fa-plus"></i> Add
        </button>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <table class="table table-bordered table-hover">
                                <thead class="">
                                <tr>
                                    <th class="text-center" width="8%">ID</th>
                                    <th class="text-center">链接名称</th>
                                    <th>链接地址</th>
                                    <th class="text-center">链接logo</th>
                                    <th>链接描述</th>
                                    <th class="text-center" width="8%">链接类型</th>
                                    <th class="text-center" width="8%">链接状态</th>
                                    <th class="text-center" width="14%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="links" id="link"}
                                <tr>
                                    <td align="center">{$link.id}</td>
                                    <td align="center">{$link.title}</td>
                                    <td><a href="{$link.link_url}" target="_blank">{$link.link_url}</a></td>
                                    <td align="center">
                                        {if condition="$link['logo'] neq ''"}
                                        <img src="{$link.logo}" height="30">
                                        {else /}
                                        暂无图片
                                        {/if}
                                    </td>
                                    <td>{$link.description|cut_str=###,10}</td>
                                    <td align="center">
                                        {if condition="$link['type'] eq  1"}
                                            文字
                                        {else /}
                                            图片
                                        {/if}
                                    </td>
                                    <td align="center">
                                        {if condition="$link['status'] eq 1"}
                                        <img src="/static/admin/images/right.png" height="30">
                                        {else /}
                                        <img src="/static/admin/images/wrong.png" height="25">
                                        {/if}
                                    </td>
                                    <td align="center">
                                        <a href="/admin/link/{$link['id']}/edit" class="btn btn-primary btn-sm shiny">
                                            <i class="fa fa-edit"></i> 编辑
                                        </a>

                                        <form style="display: inline-block" id="deleteForm{$link['id']}" action="/admin/link/{$link['id']}" method="post">
                                            <input type="hidden" name="_method" value="delete" />
                                            <a href="#" onClick="disp_confirm('{$link["id"]}')" class="btn btn-danger btn-sm shiny" >
                                            <i class="fa fa-trash-o"></i> 删除
                                            </a>
                                        </form>


                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                        <div style="padding-top:10px; text-align:right;">
                            {$links|raw}
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
{/block}
