{extend name="common/app" /}

{block name="title"}轮播图列表{/block}

{block name="content"}
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="{:url('Index/index')}">系统</a>
            </li>
            <li class="active">轮播图管理</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">

        <button type="button" tooltip="添加轮播图" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '/admin/alternate_img/create'"> <i class="fa fa-plus"></i> Add
        </button>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <form action="" method="post">
                                <table class="table table-bordered table-hover">
                                    <thead class="">
                                    <tr>
                                        <th class="text-center" width="8%">ID</th>
                                        <th class="text-center" width="8%">排序</th>
                                        <th class="text-center">标题</th>
                                        <th>链接地址</th>
                                        <th class="text-center">图片</th>
                                        <th class="text-center" width="8%">状态</th>
                                        <th class="text-center" width="14%">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="alternateImgs" id="alertnate"}
                                    <tr>
                                        <td align="center">{$alertnate.id}</td>
                                        <td align="center">
                                            <input class="sortInput" attrid="{$alertnate.id}" type="text" style="width:60px; text-align:center;"  value="{$alertnate.sort}" />
                                        </td>
                                        <td align="center">{$alertnate.title}</td>
                                        <td><a href="{$alertnate.link_url}" target="_blank">{$alertnate.link_url}</a></td>
                                        <td align="center">
                                            {if condition="$alertnate['img_src'] neq ''"}
                                            <img src="{$alertnate.img_src}" height="30">
                                            {else /}
                                            暂无图片
                                            {/if}
                                        </td>
                                        <td align="center">
                                            {if condition="$alertnate['status'] eq 1"}
                                            <img src="/static/admin/images/right.png" height="30">
                                            {else /}
                                            <img src="/static/admin/images/wrong.png" height="25">
                                            {/if}
                                        </td>
                                        <td align="center">
                                            <a href="/admin/alternate_img/{$alertnate.id}/edit" class="btn btn-primary btn-sm shiny">
                                                <i class="fa fa-edit"></i> 编辑
                                            </a>

                                            <a href="#" onClick="disp_confirm('{$alertnate["id"]}')" class="btn btn-danger btn-sm shiny" >
                                            <i class="fa fa-trash-o"></i> 删除
                                            </a>

                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        {volist name="alternateImgs" id="alternateImg"}
                        <form style="display: none" id="deleteForm{$alternateImg['id']}" action="/admin/alternate_img/{$alternateImg['id']}" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            </a>
                        </form>
                        {/volist}
                        <div style="padding-top:10px; text-align:right;">
                            {$alternateImgs|raw}
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
{/block}

{block name="script"}
<script>
    $('.sortInput').blur(function () {
        var id=$(this).attr('attrid')
        var sort=$(this).val()
        var url='/admin/alternate_img/'+id+'/sort'
        $.post(url,{sort:sort},function (res) {
            if(res.status==0){
                layer.alert(res.msg, {icon: 5});
            }else {
                layer.alert(res.msg, {icon: 6});
                window.location.reload();
            }
        },'json')
    })


</script>

{/block}

