{extend name="common/app" /}

{block name="title"}编辑关联品牌{/block}

{block name="content"}
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="{:url('Index/index')}">系统</a>
            </li>
            <li>
                <a href="/admin/category_brands">关联品牌管理</a>
            </li>
            <li class="active">修改关联品牌</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->

    <!-- Page Body -->
    <div class="page-body">

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-blue">
                        <span class="widget-caption">修改关联品牌</span>
                    </div>
                    <div class="widget-body">
                        <div id="horizontal-form">
                            <form class="form-horizontal" role="form" action="/admin/category_brands/{$categoryBrands.id}" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="_method" value="put">
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label no-padding-right">关联栏目</label>
                                    <div class="col-sm-6">
                                        <select name="category_id">
                                            <option value="">请选择</option>
                                            {volist name="categories" id="cate"}
                                            <option {if condition="$categoryBrands['category_id'] eq $cate['id']"} selected="selected" {/if} value="{$cate.id}">{$cate.cate_name}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                    <p class="help-block col-sm-4 red">* 必填</p>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label no-padding-right">关联品牌</label>
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <?php
                                    $arr=explode(',', $categoryBrands['brands_id']);
                                ?>
                                            {volist name="brands" id="brand"}
                                            <?php
                                        if(in_array($brand['id'], $arr)){
                                            $checked='checked="checked"';
                                        }else{
                                            $checked='';
                                        }
                                    ?>
                                            <label style="margin-right:15px;">
                                                <input {$checked} name="brands_id[]" value="{$brand.id}" type="checkbox" class="colored-blue">
                                                <span class="text">{$brand.brand_name}</span>
                                            </label>
                                            {/volist}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label no-padding-right">推广图</label>
                                    <div class="col-sm-6">
                                        <input name="pro_img" type="file">
                                        {if condition="$categoryBrands['pro_img']"}
                                        <img src="{$categoryBrands.pro_img}" height="30">
                                        {else /}
                                        暂无推广图
                                        {/if}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label no-padding-right">推广地址</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" placeholder="" value="{$categoryBrands.pro_url}" name="pro_url" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">保存信息</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>

{/block}
